.fon{
    width: 99%;
    height:800px;
    border:8px solid yellow;
}

#text1{
    font-size:35px;
    margin-left:600px;
    margin-top:-300px;
}

#text2{
    font-size:30px;
    margin-left:620px;
}

.block2{
    width:99%;
    height:800px;
    margin-top:200px;
}

#text3{
    text-align: center;
    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.block3{
    width:400px;
    height:500px;
    margin-left: 10px;
}

.block4{
    width:400px;
    height:500px;
    
   
    margin-left: 500px;
    margin-top:-505px;
    
}

.block5{
    width:400px;
    height:500px;
   
    margin-left: 1000px;
    margin-top:-500px;
}

img{
    width:400px;
    height:200px;
}

a{
    color:rgb(252, 252, 10);
    font-size:25px;
    margin-left:120px;
}


